/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------BOARD-------- */
.board {
  height: 80vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
}
.cell {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border: .5px solid black;
}
.one {
	background-color: #5CE1E6;
}
.two {
	color: red;
	text-align: center;
	line-height: 50px;
	content: 'X';
}

.hints-top {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	height: 50px;
}

.hintT-row{
	display: flex;
	justify-content: space-around;
	width: 255px;
	color: white;
	margin-bottom: 5px;
	margin-left: 50px;
}

.hintT-cell {
	line-height: 15px;
	width: 10px;
}

.hl-board {
	display: flex
}

.hints-left {
	width: 50px;
	display: flex;
	flex-direction: column;

}

.hintL-row{
	display: flex;
	color: white;
	justify-content: flex-end;
	width: 100%;

}

.hintL-cell {
	line-height: 51px;
	margin-left: 5px;
	margin-right: 5px;
}

.game-buttons {
	/* width: 205px */
	/* border: 1px solid red; */

}

button {
	margin-left: 3em;
	margin-top: 2em;
	padding: .6em 1.3em;
	font-size: 1em;
	border-radius: 5%;
	background-color: white;
	color: #232323;
}

.board-results {
	background-color: #232323;
	color: white;
	margin-left: 2em;
	margin-bottom: 2em;
	font-size: 1.5em;
}

.top-section {
	background-color: #232323;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.win-message {
	display: flex;
	background-color: #232323;
	justify-content: center;
}

/* HOME */
.home {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home h1 {
	font-size: 3em;
	margin-left: 1em;
}

.home button {
	margin-top: 8em;
	margin-bottom: 10em;
}

/* NAVBAR */
.navbar {
	background-color: #5ce1e6;
	color: #232323;
}

.title {
	margin-left: 3em;
	padding: 1.5em 0;
	font-size: 1.3em;
}


/* FOOTER */

.footer {
	background-color: #3D3D3D;
	color: white;
	display: flex;
	justify-content: space-around;
}

.footer-col {
	margin: 2em;
}
